{% extends "base.html" %}

{% block content %}
<h2>รายละเอียดการฝึก</h2>
<p>
  <strong>ชื่อผู้ฝึก:</strong> {{ round.training_name }}<br>
  <strong>รหัสเซ็นเซอร์:</strong> {{ round.sensor_id }}<br>
  <strong>เวลาเริ่มต้น:</strong> {{ round.start_time }}<br>
  <strong>เวลาสิ้นสุด:</strong> {{ round.stop_time }}
</p>



<h3>ข้อมูลการฝึก</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>เวลา</th>
      <th>ค่า Reed</th>
      <th>จุดที่โดน</th>
      <th>{{ config.get('sensor_label1', 'แรง 1') }}</th>
      <th>{{ config.get('sensor_label2', 'แรง 2') }}</th>
      <th>{{ config.get('sensor_label3', 'แรง 3') }}</th>
      <th>{{ config.get('sensor_label4', 'แรง 4') }}</th>
      <!-- <th>ค่าดิบ</th> -->
    </tr>
  </thead>
  <tbody>
    {% for sensor_event in sensor_events %}
    <tr>
      <td>{{ sensor_event.timestamp }}</td>
      <td>{{ sensor_event.reed_value }}</td>
      <td>{{ "ลำตัว" if sensor_event.reed_value else "หัว" }}</td>
      <td>{{ sensor_event.p1 if sensor_event.p1 is not none else '--' }}</td>
      <td>{{ sensor_event.p2 if sensor_event.p2 is not none else '--' }}</td>
      <td>{{ sensor_event.p3 if sensor_event.p3 is not none else '--' }}</td>
      <td>{{ sensor_event.p4 if sensor_event.p4 is not none else '--' }}</td>
      <!-- <td>{{ sensor_event.forces }}</td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="col">
    <!-- ปุ่มลบ -->
    <form method="POST" action="{{ url_for('delete_round', round_id=round.id) }}"
      onsubmit="return confirm('คุณแน่ใจหรือว่าต้องการลบรอบการฝึกนี้?');">
      <button type="submit" class="btn btn-danger">ลบรอบ</button>
    </form>
  </div>
  <div class="col text-right">
    <!-- ปุ่มกลับ -->
    <form method="GET" action="{{ url_for('history') }}">
      <button type="submit" class="btn btn-secondary">กลับ</button>
    </form>
  </div>
</div>
  {% endblock %}